.vs/
*bin/
*x64/
*x86/
*Debug/
*Release/

*.tlog
*.log
*.pdb
*.idb
*.ilk
*.exe
*.ipch
*.pch
*.VC.db
*.suo
*.opendb
*.obj
*.recipe
*.enc

*.sln
**.vcxproj
**.user

*.dll

*❗*

Setup-Windows-Vs2022.bat - Shortcut.lnk
Cleanup.bat - Shortcut.lnk
App/Mirror.json
