.vs/
*bin/
*x64/
*x86/
*Debug/
*Release/

*.tlog
*.log
*.pdb
*.idb
*.ilk
*.exe
*.ipch
*.pch
*.VC.db
*.suo
*.opendb
*.obj
*.recipe
*.enc

*.sln
**.vcxproj
**.user

*.dll

*❗*

Projects/Examples/Mirror.json
Projects/Examples/cache.json
Projects/Testing/Mirror.json
Projects/Testing/cache.json

.vs/

.obsidian/